<% include ../partials/header %>
<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-2">Welcome to <span class="text-primary"><%=item.name%></span></h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 mb-4">
            <p class="lead">Photos</p>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">List 1</a>
                <a href="#" class="list-group-item list-group-item-action">List 2</a>
                <a href="#" class="list-group-item list-group-item-action">List 3</a>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="mb-3">
                <div class="card">
                    <div class="figure">
                        <img class="card-img-top rounded mb-3" src="<%= item.url %>">
                        <div class="d-flex flex-row justify-content-between p-2">
                            <h4 class="card-title"><a href="#"><strong><%= item.name%></strong></a></h4>
                            <p class="">$8.00/night</p> 
                        </div>
                        
                        <div class="p-2">
                            <p class="figure-caption"> <%= item.description%> </p>
                        </div>
                        
                    </div>
                </div>
                
                <div class="card mt-5">
                    <div class="card-header">
                        <h4 class="card-title float-left mt-1"><strong>Comments</strong></h4> 
                        <div class="text-right">
                            <a href="/items/<%= item._id %>/comments/new" class="btn btn-outline-primary">Post A Comment</a>
                            <a href="/items" class="btn btn-outline-secondary">Back to List</a>
                        </div>
                    </div>

                    <div class="card-body">
                        <% item.comments.forEach((comment)=>{ %>
                            <h4 class="card-title"><strong><%= comment.author %></strong></h4>
                            <p class="card-text m-2"> - <%= comment.text %></p>
                            <hr mb-1>
                        <% }); %>
                        <div class="text-right">
                            <a href="/items/<%= item._id %>/comments/new" class="btn btn-outline-primary">Post A Comment</a>
                            <a href="/items" class="btn btn-outline-secondary">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

<% include ../partials/footer %>